<!-- Clients Aside -->
<section id="projects">
    <aside class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a target="_blank" href="https://marcusgorilla.github.io" class="portfolio-link">
                        <img src="../css/2017_style/img/logos/marcus.png" class="img-responsive img-centered" alt="">
                        <p style="text-align: center;">
                            Marcus Gorileeus
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </aside>
</section>